
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 110px;
  }
  
  p {
    font-family: "Open Sans";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  header .banner {
      height: 200px;
  }
    
  .header-section {
      height: 30px;
      padding-left: 50px;
   }
  

  .main-section > .container {
      margin-top: 20px;
  }
  

  .card-container > .card {
    margin-bottom: 10px;
  }

  .marge {
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 60px;
  }

  body > .footer {
      position: absolute;
      bottom: 0;
      line-height: 30px;
      width: 100%;
      height: 50px;
        
  }

  .color1 {
    background-color: #B00000;
    
  }
  
  .color2 {
    background-color: #B00000;
  }
  
  .color3 {
    color: #FFFFFF;
  }
  
  .color4 {
    color: #B00000;
  }
  
  .color5 {
    border-color: #B00000;
  }
