<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <title>Microlly</title>
</head>

<body>
    <header class="banner">
            <nav class="navbar navbar-expand-sm color1 navbar-light fixed-top ">
                <div class="collapse navbar-collapse" id="navDropdown">
                    <ul class="navbar-nav mx-5">
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-1">
                            <form class="form-inline" action="{% url 'microlly_review:index' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-light" type="submit">ACCUEIL</button>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item mx-1">
                            <form class="form-inline" action="{% url 'microlly_review:creation' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-light" type="submit">NOUVEAU</button>
                            </form>
                        </li>
                        <li class="nav-item mx-1">
                            <form class="form-inline" action="{% url 'microlly_review:logout' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-light" type="submit">LOGOUT</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item mx-1">
                            <form class="form-inline" action="{% url 'microlly_review:login' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-light" type="submit">LOGIN</button>
                            </form>
                        </li>
                        <li class="nav-item mx-1">
                            <form class="form-inline" action="{% url 'microlly_review:signup' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-light" type="submit">REGISTER</button>
                            </form>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-4">
                        </li>
                        <li class="nav-item mx-2">
                        </li>
                        <li class="nav-item mx-1">
                            <a class="btn btn-outline-light" href="/admin">ADMIN</a>
                        </li>
                        {% endif%}
                    </ul>
                </div>
            </nav>
        <div class="marge">
        </div>
    </header>

    <section class="main-section">
        <div class="marge">
        <header class="container-fluid header-section d-flex align-items-center color2">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="order-1 ">
                    <h3 class="d-inline text-white">
                        {% block section-title %}
                        {% endblock %}
                    </h3>
                </div>
            </div>
        </header>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer align-middle color1">
        <div class="container">
            <p class="text-center color3 ">Microlly Apps</p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
