{% extends '_base.html' %}

{% block section-title %}
Bienvenue sur Microlly: Last posts
{% endblock %}

{% block content %}
{% if last_posts %}
<article class="row">
    {% for post in last_posts %}
    <div class="card-container col-md-6 col-lg-4">
        <div class="card border border-lightgreen mb-3">
            <div class="card-body">
                <h4 class="card-title">
                    <a class="badge color4" href="{% url 'microlly_review:plus' post.slug post.pk %}">
                        {{ post.title }}</a>
                </h4>
                <p class="card-text">
                    {{post.preview}}
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <small class="text-muted">
                        Posted by: <a href="{% url 'microlly_review:post_list' post.author %}">{{post.author}}</a>
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Create: {{post.post_date}}
                    </small>
                </p>
                
            </div>
        </div>
    </div>
    {% endfor %}
</article>

<nav aria-label="Pagination author posts">
    <ul class="pagination justify-content-center">
        {% if last_posts.has_previous %}
        <li class="page-item"> <a class="page-link color3" href="?page=1">&laquo; first</a> </li>
        <li class="page-item"><a class="page-link color3" href="?page={{ last_posts.previous_page_number }}">previous</a></li>
        {% endif %}
        {% if last_posts.has_next %}
        <li class="page-item"><a class="page-link color3" href="?page={{ last_posts.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link color3" href="?page={{ last_posts.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% else %}
<p>Aucunes publications.</p>
{% endif %}
{% endblock %}