{% extends '_base.html' %}

{% block section-title %}
Bienvenue sur Microlly: Plus
{% endblock %}

{% block content %}
<h4>{{ post.title }}</h4>
<p>{{ post.body }}</p>
<p>Create: {{ post.post_date }}</p>
<p>Edit: {{ post.edit_date }}</p>

{% if user.is_authenticated %}
<div class="container d-flex flex-column justify-content-center">
    <form class="my-1" action="{% url 'microlly_review:edition' post.slug post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark w-100" type="submit">Edit</button>
    </form>
    <form class="my-1" action="{% url 'microlly_review:delete' post.slug post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark w-100" type="submit">Delete</button>
    </form>
</div>
{% endif %}

{% endblock %}