{% extends '_base.html' %}

{% block section-title %}
Bienvenue sur Microlly: Post by: {{author}}
{% endblock %}

{% block content %}
<article class="row">
    {% for post in post_list %}
    <div class="card-container col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a class="badge color4" href="{% url 'microlly_review:plus' post.slug post.pk %}">
                        {{ post.title }}</a>
                </h4>
                <p class="card-text">
                    {{post.preview}}
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <small class="text-muted">
                        Posted by: <a href="{% url 'microlly_review:list_post_user' post.author %}">{{post.author}}</a>
                        <span class="text-dark"></span>
                        on {{post.release_date}}
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Last update: {{post.edit_date}}
                    </small>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</article>

<nav aria-label="Pagination author posts">
    <ul class="pagination justify-content-center">
        {% if list_posts_user.has_previous %}
        <li class="page-item"> <a class="page-link color3" href="?page=1">&laquo; first</a> </li>
        <li class="page-item"><a class="page-link color3" href="?page={{ list_posts_user.previous_page_number }}">previous</a></li>
        {% endif %}
        {% if list_posts_user.has_next %}
        <li class="page-item"><a class="page-link color3" href="?page={{ list_posts_user.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link color3" href="?page={{ list_posts_user.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}